.button  {
  text-align: center;
  font-family: 'Monaco', monospace;
  padding: 2%;
  padding-right: 7%;
  padding-left: 7%;
  margin: 3%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 4px;
  display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.button:hover {
  background-color: rgb(162, 188, 212);
}

.blue {
  composes: button;
  background-color: rgb(60, 177, 208);
}

.white {
  composes: button;
  background-color: white;
}

.grey {
  composes: button;
  background-color: rgb(193, 193, 193);
}

.orange{
  composes: button;
  background-color: rgb(226, 165, 121);
}
