.block {
  margin: auto;
  width: 70%;
  height: 80%;
  font-family: 'Monaco', monospace;
  font-size: 150%;
  background-color: rgb(81, 134, 159);
  padding-right: 5%;
  padding-left: 0%;
  padding-top: 2%;
  border-radius: 10px;
}

.row {
  display: block;
  margin: 6%;
  margin-left: 5%;
}
