.display {
  text-align: right;
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  margin: 5%;
  margin-right: 3%;
  margin-left: 8%;
  background-color: white;
  border-radius: 5px;
}
